<nav class="nav-bar">
  <div class="hamburguer">
    <svg
      class="icono"
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      fill="currentColor"
      class="bi bi-list"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
      />
    </svg>
  </div>
  <div class="items-enlace">
    <a class="ini" href="index.html"
      ><img src="../../assets/logo.svg" alt="Alberto Torres"
    /></a>
    <a class="name-alberto" href="index.html">Alberto Torres</a>
    <a href="index.html">Home</a>
    <a href="contraseñas/generador-contraseñas.html">Biografia</a>
    <a href="#">Articulos</a>
  </div>
</nav>
