<footer class="pie-pagina">
  <div class="section articulos">
    <h2>Te puede interesar</h2>
    <div class="articulos-interes">
      <a
        href="https://alber70rres.github.io/logicaDeProgramacion.github.io/index.html"
        target="_blank"
        ><i class="bi bi-x-diamond-fill"></i> Fundamentos de programación</a
      >
      <a href="index.html" target="_blank"
        ><i class="bi bi-x-diamond-fill"></i> Protege tu información</a
      >
    </div>
  </div>
  <br />
  <hr />
  <div class="section redes">
    <h2>Mis redes sociales</h2>
    <div class="articulos-redes">
      <a
        href="https://www.youtube.com/channel/UCLfXqp_un5veLmhMk4MN0BA"
        target="_blank"
        ><i class="fuente bi bi-youtube"></i> Youtube</a
      >
      <a href="https://www.instagram.com/alber70rres/" target="_blank"
        ><i class="fuente bi bi-instagram"></i> Instagram</a
      >
      <a
        href="https://www.facebook.com/profile.php?id=61555589141489"
        target="_blank"
        ><i class="fuente bi bi-facebook"></i> Facebook</a
      >
      <a href="https://twitter.com/Alber70rres" target="_blank">
        <i class="bi bi-twitter"></i> Twitter</a
      >
      <a href="https://github.com/Alber70rres" target="_blank">
        <i class="fuente bi bi-github"></i>
        Github
      </a>
      <a
        href="https://www.linkedin.com/in/alberto-torres-882438298/"
        target="_blank"
      >
        <i class="fa fa-linkedin-square"></i>
        LinkedIn
      </a>
    </div>
  </div>
  <br />
  <hr />
  <div class="section derechos">
    <small>&copy; Copyright Alberto Torres 2024</small>
  </div>
</footer>
